  .web-list-item {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #123553;
    cursor: pointer;
  }
  @media screen and (max-width: 768px){
    .web-list-item {
      padding: 5px;
      margin: 2px;
    }
  }
  .web-list-item.active{
    background-color: #123553;
    color: white;
  }
  .input-number {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 20%;
    text-align: center;
  }
  
  .input-number::-webkit-inner-spin-button,
  .input-number::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
  }