  .list-item {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #123553;
    cursor: pointer;
  }
  
  .list-item.active {
    background-color: #123553;
    color: white;
  }
  .tab-title{
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #123553 ;
    width: fit-content !important;
    padding: 10px !important;
  }