#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

button.ant-btn.css-dev-only-do-not-override-98ntnt.ant-btn-primary,
button.ant-btn.css-dev-only-do-not-override-98ntnt.ant-btn-default {
  background-color: #123553;
  color: #fff;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
  margin-top: 3%;
  display: block;
  height: auto;
}

.ant-steps.ant-steps-horizontal {
  padding-bottom: 2rem;
}
.ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon {
  background-color: #1f2937;
  border-color: #1f2937;
}

.ant-steps
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: #123553;
}
.ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon {
  background-color: #fff;
  border-color: #123553;
}
.steps-action{
  display: flex;
  justify-content: space-around;

}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: red;
  font-size: 1.5em;
}
