#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


#root > main > div.bg-white.w-\[90\%\].sm\:w-3\/4.mx-auto.mt-10.rounded-3xl.h-auto.px-3.py-7.sm\:p-10.flex.flex-col.items-start > div{
  width: 100%;
}

#root > main > div.bg-white.w-\[90\%\].sm\:w-3\/4.mx-auto.mt-10.rounded-3xl.h-auto.px-3.py-7.sm\:p-10.flex.flex-col.items-start > div > div.mx-auto.sm\:w-2\/3.w-full.flex-2.p-5.sm\:p-10.sm\:pt-16.rounded-3xl.bg-\[\#E7F3FC\].drop-shadow-lg > div > div:nth-child(7) > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#root > main > div.bg-white.w-\[90\%\].sm\:w-3\/4.mx-auto.mt-10.rounded-3xl.h-auto.px-3.py-7.sm\:p-10.flex.flex-col.items-start > div > div.mx-auto.sm\:w-2\/3.w-full.flex-2.p-5.sm\:p-10.sm\:pt-16.rounded-3xl.bg-\[\#E7F3FC\].drop-shadow-lg > div > div:nth-child(7) > div > button:nth-child(1),
#root > main > div.bg-white.w-\[90\%\].sm\:w-3\/4.mx-auto.mt-10.rounded-3xl.h-auto.px-3.py-7.sm\:p-10.flex.flex-col.items-start > div > div.mx-auto.sm\:w-2\/3.w-full.flex-2.p-5.sm\:p-10.sm\:pt-16.rounded-3xl.bg-\[\#E7F3FC\].drop-shadow-lg > div > div:nth-child(7) > div > button:nth-child(2){
  background-color: #123553;
  color: #fff;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
  margin-top: 3%;
  display: block;
}
.go2150698616 span{
  color: #123553;
  font-size: 25px;

}
.go2150698616{
min-width: 13rem !important;
}
@media only screen and (max-width: 750px) {
  .go2150698616 span{   
    font-size: 1rem;
  }
  .go2150698616{
    padding: 10px 0.7rem !important;
    min-width: 4rem !important;
  }
  .go2150698616:before{
    bottom: -4.99rem !important;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: red;
  font-size: 1.5em;
}

